header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 16px;
  line-height: 1.25;
  border-bottom: 1px solid
    color-mix(in srgb, var(--color-black), transparent 90%);

  & .logo {
    & svg {
      display: flex;
      height: 24px;
      width: auto;
      fill: none;

      & path {
        fill: currentColor;
      }
    }
  }

  & nav {
    display: flex;
    align-items: center;
    gap: 10px;

    & svg {
      height: 20px;
      width: auto;
      fill: none;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;
      path,
      circle,
      line {
        fill: currentColor;
      }
    }

    & a {
      display: flex;
      align-items: center;
      gap: 1ch;
      text-decoration: none;
      padding: 16px 22px;
      border-radius: 8px;

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--color-black),
          transparent 90%
        );
      }
    }

    & button {
      display: flex;
      align-items: center;
      appearance: none;
      border: none;
      background: none;
      padding: 16px;
      cursor: pointer;
      border-radius: 8px;

      &:hover {
        background-color: color-mix(
          in srgb,
          var(--color-black),
          transparent 90%
        );
      }
    }
  }

  & .hamburger {
    min-inline-size: 64px;
  }
}
