aside.toc {
  display: flex;
  flex-direction: column;

  & > span {
    font-size: 10px;
    opacity: 0.5;
    margin-block-end: 3ex;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 2ex;
    font-size: 14px;
  }
}
