aside.toc {
  display: flex;
  flex-direction: column;

  span {
    font-size: 10px;
    opacity: 0.5;
    margin-bottom: 4ex;
    padding-left: 3ch;
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 2ex;
    font-size: 14px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;

    &:hover {
      a {
        opacity: 1;
      }
    }

    a {
      --_inline-padding: 2ch;
      align-items: center;
      display: flex;
      transition: all 0.4s;
      border-left: 1px solid transparent;
      margin-left: -1px;
      padding-left: var(--_inline-padding);
      opacity: 0.4;

      &.active {
        border-color: white;
        opacity: 1;
      }

      &:hover {
        text-decoration: underline;
        opacity: 1;
      }

      &[data-level="2"] {
        padding-left: calc(var(--_inline-padding) + 2ch);
      }

      &[data-level="3"] {
        padding-left: calc(var(--_inline-padding) + 3ch);
      }

      &[data-level="4"] {
        padding-left: calc(var(--_inline-padding) + 4ch);
      }
    }
  }
}
