:root {
  font-family: "SEB SansSerif";
}

body {
  background: repeating-linear-gradient(
    to right,
    transparent,
    transparent 10px,
    #dedede 10px,
    #dedede 11px
  ), repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 10px,
    #dedede 10px,
    #dedede 11px
  );
  display: grid;
  place-content: center;
  grid-auto-flow: column;
  gap: 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 10px,
        #333 10px,
        #333 11px
      ),
      repeating-linear-gradient(
        to bottom,
        transparent,
        transparent 10px,
        #333 10px,
        #333 11px
      );
  }
}
