.row {
  display: flex;
  gap: 24px;
  flex-direction: row;
  margin-top: 40px;

  .col {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: color-mix(in srgb, currentColor, transparent 90%);
    border: 1px solid color-mix(in srgb, currentColor, transparent 90%);
    border-radius: 8px;
  }
}
