.trail {
  display: flex;
  margin-block-end: 40px;
  font-size: 12px;

  ul {
    display: flex;
    flex-direction: row;
    gap: 10px;

    span {
      opacity: 0.4;
    }

    li {
      text-transform: capitalize;
      opacity: 0.4;

      &:not(.active) {
        /* text-decoration: underline; */
        text-underline-offset: 3px;
        opacity: 0.8;
      }
    }
  }
}
