.taber {
  position: sticky;
  margin-top: 40px;
  margin-inline: auto;
  left: 0;
  right: 0;
  bottom: 40px;
  border-radius: 200px;
  background-color: color-mix(in srgb, var(--color-white), transparent 20%);
  backdrop-filter: blur(20px);
  border: 1px solid color-mix(in srgb, var(--color-black), transparent 94%);
  display: flex;
  gap: 5px;
  padding: 10px;
  z-index: 4;
  font-size: 14px;
  width: max-content;
  align-items: center;
  justify-content: center;

  & a {
    display: flex;
    color: color-mix(in srgb, var(--color-black), transparent 40%);
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    transition: all 0.4s;

    &.active,
    &:hover {
      color: color-mix(in srgb, var(--color-black), transparent 0%);
      background-color: color-mix(in srgb, var(--color-black), transparent 96%);

      padding: 12px 20px;
      border-radius: 100px;
    }

    svg {
      width: 14px;
      height: 14px;
      color: var(--color-black);
      fill: none;
      stroke: currentColor;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-linejoin: round;

      & path {
        stroke: currentColor;
      }
    }
  }
}
