.hero {
  --mix: color-mix(in srgb, currentColor, transparent 96%);
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;

  h1 {
    font-size: 82px;
    line-height: 1.12;
    margin-bottom: 1ex;
  }

  p {
    font-size: 32px;
    line-height: 1.25;
    text-wrap: balance;
    max-width: 35ch;
    font-weight: 400;
  }
}

a.cta {
  border-radius: 200px;
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 16px 20px;
  position: sticky;
  margin-left: auto;
  right: 40px;
  bottom: 40px;
  max-width: max-content;
}
