.gds-spacer {
  display: flex;
  align-items: center;

  &.gds-spacer-large {
    block-size: var(--gds-gap-lg);
  }

  &.gds-spacer-medium {
    block-size: var(--gds-gap-md);
  }

  &.gds-spacer-small {
    block-size: var(--gds-gap-sm);
  }

  hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: var(--gds-sys-color-stroke-stroke-variant2);
    border-radius: 200px;
  }
}
