aside.nav {
  --border-color: color-mix(in srgb, var(--color-black), transparent 90%);
  display: flex;
  position: sticky;
  flex-direction: column;
  top: 90px;
  gap: 40px;
  padding: 40px;
  border-right: 1px solid var(--border-color);
  min-width: 220px;
  block-size: 100vh;

  details {
    &[open] {
      /* summary span {
        background-color: color-mix(
          in srgb,
          var(--color-black),
          transparent 90%
        );
      } */
      summary {
        svg {
          transform: scaleY(-1);
        }
      }
    }

    summary {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        svg {
          opacity: 1;
        }
      }

      span {
        border-radius: 80px;
        width: 100%;
        /* padding: 10px 20px; */
      }

      svg {
        width: 24px;
        height: 24px;
        fill: none;
        stroke: currentColor;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        opacity: 0.6;
      }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 2ex;
    font-size: 14px;

    a.active {
      text-decoration: underline;
    }
  }
}
