.layout.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1100px;
  padding: 40px;
  margin-inline: auto;
  --border-color: color-mix(in srgb, var(--color-black), transparent 90%);
  padding-block: 40px;

  aside {
    position: sticky;
    top: 120px;
  }

  header {
    width: 100%;
    display: flex;
    gap: 48px;
    flex-direction: row;

    .content {
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex: 1;
      justify-content: space-between;

      .intro {
        display: flex;
        gap: 16px;
        flex-direction: column;
        max-width: 80ch;

        h1 {
          font-size: 32px;
          line-height: 1.25;
        }
        p {
          font-size: 20px;
          line-height: 1.3;
        }
      }
    }

    .details {
      display: flex;
      flex-direction: row;
      gap: 20px;
      position: relative;
      font-size: 10px;

      > div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &::before {
          content: attr(title);
          display: flex;
          font-size: 10px;
          opacity: 0.5;
        }

        .status {
          padding: 10px 20px;
          border-radius: 4px;
          background-color: var(--border-color);
        }

        menu {
          display: flex;
          flex-direction: row;
          gap: 1ch;

          div {
            padding: 10px 20px;
            border-radius: 200px;
            border: 1px solid var(--border-color);
          }
        }
      }
    }

    figure {
      display: flex;
      background-color: color-mix(in srgb, var(--color-black), transparent 99%);
      --cell-lg: 60px;
      --cell-lg-cl: color-mix(in srgb, var(--color-black), transparent 98%);
      --cell-sm: 10px;
      --cell-sm-cl: color-mix(in srgb, var(--color-black), transparent 99%);
      display: flex;
      inline-size: 480px;
      block-size: 250px;
      border-radius: 12px;
      align-items: center;
      justify-content: center;
      background-image: linear-gradient(
          to right,
          transparent calc(var(--cell-lg) - 1px),
          var(--cell-lg-cl) 1px
        ),
        linear-gradient(
          to bottom,
          transparent calc(var(--cell-lg) - 1px),
          var(--cell-lg-cl) 1px
        ),
        linear-gradient(
          to right,
          transparent calc(var(--cell-sm) - 1px),
          var(--cell-sm-cl) 1px
        ),
        linear-gradient(
          to bottom,
          transparent calc(var(--cell-sm) - 1px),
          var(--cell-sm-cl) 1px
        );
      background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
      background-size: var(--cell-lg) 100%, 100% var(--cell-lg),
        var(--cell-sm) 100%, 100% var(--cell-sm);
      border: 1px solid var(--border-color);

      /* Only for the demo */
      button {
        display: flex;
        padding: 12px 28px;
        border-radius: 200px;
        border: 1px solid
          color-mix(in srgb, var(--color-black), transparent 90%);
        backdrop-filter: blur(4px);
        color: var(--color-black);
        background-color: transparent;
        cursor: pointer;
        transition: all 128ms linear;

        &:hover {
          background-color: color-mix(
            in srgb,
            var(--color-black),
            transparent 90%
          );
          transform: scale(1.4);
        }
      }
    }
  }

  article {
    display: flex;
    width: 100%;
    gap: 40px;
    align-items: flex-start;

    .content {
      padding-block-start: 40px;
      flex: 0 1 100%;
      font-size: 16px;
      line-height: 1.5;

      main {
        max-width: 80ch;
      }
    }

    aside {
      padding-block-start: 40px;
      position: sticky;
      top: 80px;
      min-width: 260px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 18px;
    }

    h2,
    h3,
    h4 {
      position: relative;
      font-weight: 600;
      padding-block-start: 3ex;
      margin-bottom: 1ex;
    }

    img {
      border-radius: 8px;
      margin-block: 2ex;
    }

    figure {
      transition: all 0.4s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-block: 20px;
      background-color: color-mix(in srgb, var(--color-black), transparent 97%);
      &.loading {
        iframe {
          opacity: 0;
        }

        .gg-loadbar-alt {
          opacity: 1;
          visibility: visible;
        }
      }

      @keyframes loadbaralt {
        0%,
        to {
          left: 0;
          right: 80%;
        }
        25%,
        75% {
          left: 0;
          right: 0;
        }
        50% {
          left: 80%;
          right: 0;
        }
      }

      .gg-loadbar-alt,
      .gg-loadbar-alt::before,
      .gg-loadbar-alt::after {
        display: block;
        box-sizing: border-box;
        height: 4px;
        border-radius: 4px;
      }

      .gg-loadbar-alt {
        position: absolute;
        transform: scale(var(--ggs, 1));
        width: 18px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      .gg-loadbar-alt::after,
      .gg-loadbar-alt::before {
        background: currentColor;
        content: "";
        position: absolute;
      }

      .gg-loadbar-alt::before {
        animation: loadbaralt 2s cubic-bezier(0, 0, 0.58, 1) infinite;
      }

      .gg-loadbar-alt::after {
        width: 18px;
        opacity: 0.3;
      }
    }

    iframe {
      width: 100%;
      border: none;
      border-radius: 8px;

      min-block-size: 450px;
      background-color: transparent;
      transition: all 2s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition-delay: 1s;
    }

    playground-preview {
      border-radius: 8px;
      overflow: hidden;
      border: 1px solid color-mix(in srgb, var(--color-white), transparent 10%);
    }

    div[data-rehype-pretty-code-fragment] {
      margin-top: 20px;

      pre {
        padding: 20px;
        line-height: 1.5;
        border-radius: 8px;
      }
    }
  }
  footer {
    font-size: 12px;
    opacity: 0.5;
    margin-block-start: 40px;
  }
}
