@layer core {
  @layer layouts {
    @layer main {
      body > main {
        max-width: 2560px;
        margin-inline: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .layout {
          &.core {
            display: flex;
            flex-direction: column;
            gap: 100px;
            padding: 64px;
            padding-block-end: 120px;

            .component-list {
              a {
                inline-size: calc(100% / 3 - 80px);
                background-color: color-mix(
                  in srgb,
                  var(--color-black),
                  transparent 98%
                );
                border: none;
                gap: 24px;
                flex-direction: column;
                display: flex;
                padding: 24px;
                border-radius: 12px;
                transition: var(--transition);

                figure {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 100%;
                  height: auto;
                  aspect-ratio: 16 / 9;
                  background-color: color-mix(
                    in srgb,
                    var(--color-black),
                    transparent 90%
                  );
                  border-radius: 8px !important;
                  padding: 20px;
                }

                > div {
                  text-decoration: underline;
                  text-underline-offset: 2px;
                }
              }
            }

            .home-components {
              display: flex;
              flex-wrap: wrap;
              flex-direction: column;
              gap: 20px;

              div {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
              }
            }

            .home-resources {
              .list {
                display: flex;
                flex-direction: row;
                gap: 40px;
              }

              .cta-home {
                display: flex;
                inline-size: calc(100% / 3 - 40px);
                padding: 24px;
                gap: 24px;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border-radius: 12px;
                background-color: color-mix(
                  in srgb,
                  var(--color-black),
                  transparent 98%
                );
                transition: all 0.4s;
                max-height: max-content;
                box-sizing: border-box;

                &:hover {
                  background-color: color-mix(
                    in srgb,
                    var(--color-black),
                    transparent 95%
                  );
                }

                span {
                  display: flex;
                  align-items: flex-start;
                  flex-direction: column;
                  gap: 8px;
                  font-size: 20px;
                  line-height: 1;
                  &::before {
                    content: attr(data-caption);
                    display: flex;
                    line-height: 1;
                    font-size: 14px;
                  }
                }

                div {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 40px;
                  width: 40px;
                  border-radius: 200px;
                  background-color: color-mix(
                    in srgb,
                    var(--color-black),
                    transparent 94%
                  );
                }

                svg {
                  fill: none;
                  stroke: currentColor;
                  stroke-width: 2;
                  stroke-linecap: round;
                  stroke-linejoin: round;
                  width: 14px;
                  height: auto;
                }
              }
            }

            .home-quote {
              display: flex;
              flex-direction: row;
              gap: 32px;

              > * {
                flex: 1;
              }

              h2 {
                font-size: 28px;
                line-height: 1.25;
              }

              p {
                font-size: 24px;
                line-height: 1.25;
              }
            }
          }
        }
      }
    }
  }
}
