:root {
  --color-white: hsl(0 0% 100%);
  --color-black: hsl(0 0% 7%);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --color-white: hsl(0 0% 7%);
    --color-black: hsl(0 0% 100%);
  } */

  [theme="dark"] {
    --color-white: hsl(0 0% 7%);
    --color-black: hsl(0 0% 100%);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: currentColor;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Soem test */
/* Soem test */
/* Soem test */
/* Soem test */
/* Soem test */

.home {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  flex-direction: column;
  gap: 40px;
  padding-top: 100px;
  --mix: color-mix(in srgb, currentColor, transparent 96%);

  & section {
    padding: 40px;
    border-top: 1px solid var(--mix);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    & h2 {
      width: 100%;
    }

    & > a {
      border: 1px solid var(--mix);
      padding: 40px;
      border-radius: 18px;
      background-color: var(--mix);
      text-decoration: none;
      display: flex;
      flex-direction: column;
      aspect-ratio: 16 / 9;
      min-width: 320px;
      justify-content: space-between;

      & img {
        width: 24px;
        height: 24px;
        border-radius: 200px;
      }

      & time,
      & span {
        opacity: 0.4;
      }
    }
  }
}

/* main {
  view-transition-name: root;
} */

/* Inspector */

button {
  --gds-color: #fc0;
  --gds-text: 42;
}
